@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

html, body{
    overflow-x: hidden;
}

.bsl{
    font-size: 4rem;
    text-shadow: 5px 5px darkblue;
    font-family: 'Orbitron', sans-serif;
}

.logo{
    max-width: 150px;
}


.bigger{
    text-shadow: 2px 2px darkblue;
    font-family: 'Orbitron', sans-serif;
}

.info{
    border: darkblue solid 2px;
    border-radius: 10px;
    background-color: #192428;
}

.banner {
    position: relative;
    text-align: end;
    color: white;
}

.head {
    position: relative;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    text-shadow: 5px 5px darkblue;
    font-family: 'Orbitron', sans-serif;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -80%);
}

.xsbtn{
    margin: auto;
}

.btn-primary {
    color: darkblue;
    background-color: #4FABDA;
    border-color: darkblue;
}
.btn-primary:hover {
    color: white;
    background-color: darkblue;
    border-color: #8ad3d3;
}


